.Session4 {
  .nav-link.active {
    background-color: transparent !important;
    color: var(--primary-Color) !important;
  }
  .nav-link {
    color: inherit;
    text-align: left;
  }
  .nav-link:hover {
    color: var(--primary-Color) !important;
  }
}

@media screen and (max-width: 992px) {
  .Session4 {
    #v-pills-tab {
        justify-content: space-between;
        margin-right: 0 !important;
        margin-bottom: 10px;
    }
    #responsive-left {
        flex: 1 1 40%;
        max-width: 40%;
        padding-right: 15px !important;
        padding-top: 10px;
    }
    #responsive-right {
        flex: 1 1 60%;
        max-width: 60%;
    }
    #responsive-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .Session4 {
    #responsive-left {
        flex: 1 1 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    #responsive-right {
        flex: 1 1 100%;
        max-width: 100%;
        display: flex;
    }
    #responsive-right-2 {
        margin-top: 20px !important;
        padding-left: 30px;
    }
    #province-icon {
        margin-top: 90px !important;
    }
  }
}