.Footer {
  .error-message {
    display: none;
    position: absolute;
    background-color: #ffdddd;
    border: 1px solid #ff5c5c;
    color: #a94442;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    font-size: 14px;
    width: fit-content;
    max-width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .Footer {
    .footerInput {
        flex: 1;
    }
  
    .footerCol {
        padding-left: 0 !important;
    }
  
    .footerColMB:first-of-type {
        border-right: none !important;
    }
  
    .footerColMB {
        margin-bottom: 20px;
    }
  
    .footerSession3 {
        flex-direction: column-reverse;
    }
  
    .footerSession3Item {
        justify-content: center !important;
        padding-bottom: 20px;
    }

  }
}