.Session2 {

  .Tab1 {
    width: 100%;
    display: flex;
  }
  
  .item {
    min-height: 445px;
    position: relative;
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--border-Color);
    border-bottom: none;
    border-top: none;
  }
  
  .item > img:first-of-type {
    min-height: 445px;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .c-brand-item__caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
  }
  
  .c-brand-item__title {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .c-brand-item__title span {
    display: block;
    font-size: 50px;
  }
  
  .c-brand-item__symbol {
    text-align: center;
    display: block;
    margin-bottom: 30px;
  }
  
  .c-brand-item__symbol img {
    transform-style: flat;
    max-height: 130px;
  }
  
  .c-brand-item__desc {
    width: 60%;
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
  }
  
  .c-brand-item__desc p {
    margin-bottom: 10px;
  }
  
  .item:hover .c-brand-item__caption {
    opacity: 1;
  }
  
  .isLuxury .c-brand-item__caption {
    background-color: rgba(65, 64, 66, 0.9);
  }
  
  .isGrand .c-brand-item__caption {
    background-color: rgba(0, 11, 69, 0.9);
  }
  
  .isHoliday .c-brand-item__caption {
    background-color: rgba(0, 140, 149, 0.9);
  }
  
  .isMT .c-brand-item__caption {
    background-color: rgba(0, 83, 76, 0.9);
  }
  
  .carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 108%;
    transform: translateY(-50%);
    width: auto;
    padding: 0;
    background: none;
    border: none;
    outline: none;
  }
  
  .carousel-control-prev {
    left: 30%;
  }
  
  .carousel-control-next {
    right: 30%;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100%;
  }
}
